<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Progreso Medio</th>
      <th>Nota media</th>
      <th>Graduado en la plataforma</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td>Falta calcular</td>
        <td>Falta calcular</td>
        <td>Falta calcular</td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if current_user&.admin? %>
  <h1>Calculation results</h1>
  <% if @total_score.present? %>
    <p>Total score of all products: <%= @total_score %></p>
  <% else %>
    <p>Calculation in progress...</p>
  <% end %>
<% else %>
  <p>You must be an admin to view this page.</p>
<% end %>
